<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="GoogleSiteKey" value="6LeGSoUqAAAAAOfGKdUVUQEOdTQfeT-wMZ-eH9jC" />
		<add key="GoogleSecretKey" value="6LeGSoUqAAAAAE1mX3OU8xtsg740MuV63HKzxmsC" />
		<add key="To" value="eduardotauro0698@gmail.com" />
		<add key="PasswordTemp" value="1234567" />
		<add key="ServidorArchivo" value="http://172.16.1.29" />
	
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
  </system.web>
</configuration>